# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env.local
.secret.local
src/conf.json
src/firebase.creds.json
.firebase
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
extensions/firestore-send-email.env
extensions/firestore-algolia-search.env
extensions/firestore-algolia-search-runs.env
/export
/firebase-export-*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode