ALGOLIA_API_KEY=<your Algolia API key>
ALGOLIA_APP_ID=<your Algolia app id>
ALGOLIA_INDEX_NAME=prod_steps
COLLECTION_PATH=runs/{parentId}/steps
FORCE_DATA_SYNC=no
LOCATION=us-central1
TRANSFORM_FUNCTION=transformStepForIndexing