ALGOLIA_API_KEY=<your Algolia API key>
ALGOLIA_APP_ID=<your Algolia app id>
ALGOLIA_INDEX_NAME=prod_runs
COLLECTION_PATH=runs
FIELDS=title,dm,admin,dms,players,status,tags,deleted,nsteps,priv
FORCE_DATA_SYNC=no
LOCATION=us-central1